<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ExceptionHandlerConfig" type="System.Configuration.AppSettingsSection,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <File type="log4net.Util.PatternString" value="%property{LogName}" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <ExceptionHandlerConfig>
    <add key="IgnoreDebugErrors" value="false" />
    <add key="IgnoreRegex" value="get_aspx_ver\.aspx" />
    <add key="IgnoreHttpErrors" value="true" />
    <add key="LogToEmail" value="false" />
    <add key="LogToSQL" value="false" />
    <add key="LocationID" value="24" />
    <add key="SystemID" value="17" />
    <add key="ApplicationID" value="31" />
    <add key="ReportedBy" value="SFHubService" />
    <add key="JBSAppMonitorConnString" value="Server=ustxri00app22i;UID=AppUser;Database=JBSAppMonitor;Pwd=AppUser;" />
    <add key="EmailServer" value="smtp.jbssa.com" />
    <add key="EmailFromAddress" value="john.baughman@jbssa.com" />
    <add key="EmailFromName" value="Self-installing Windows Service Error" />
    <add key="EmailToAddressList" value="john.baughman@jbssa.com" />
    <add key="LogToFile" value="false" />
    <add key="LogFilePath" value="C:\Logs\SelfInstallingWindowsService" />
  </ExceptionHandlerConfig>
  <connectionStrings>
    <add name="statusDb" connectionString="Data Source={0};Version=3;" providerName=""/>
  </connectionStrings>
  <appSettings>
    <!-- This setting causes service to ignore timer. -->
    <add key="UseSchedule" value="false" />
    <!-- This list is semi-colon delimited. Each item is a day of the week or day of the month with a pipe delimited
		time in 24 hour clock format with a leading zero and no colon (HHMM) or a colon is allowed still in 24 hour format (HH:MM).
		Ranges are allowed for days of the week only (M-F or W-Sa).
		Days of the week are formatted as follows:
		Su = Sunday
		M = Monday
		Tu = Tuesday
		W = Wednesday
		Th = Thursday
		F = Friday
		Sa = Saturday
		E = Everyday

		Example usage:
			M,W,F|12:30;E|15:00 = Runs Monday, Wednesday, and Friday at 12:30 PM; Everyday at 3:00 PM.
			1,15|0000 = Runs on the first and the 15th at midnight.
			M|0800 = Runs Mondays at 8:00 AM.
			M-Sa|17:00 = Runs Monday through Saturday at 5:00 PM.
		-->
    <add key="Schedules" value="M-F|1000;M-F|2200" />
    <add key="UseFileWatcher" value="false"/>
    <add key="FileWatcherSystemIds" value="1"/>
    <!-- Pipe delimited list of System IDs to watch. Used for multipath watching-->
    <add key="FileWatcherPath" value="1,C:\CheckImages\Incoming"/>
    <!-- Comma and pipe delimited list of paths. One path per system ID. SysID,Path|SysID,Path -->
    <add key="FileWatcherFilter" value="1,*.zip"/>
    <!-- Comma and pipe delimited list of filters. One one filter per system ID. SysID,Filter|SysID,Filter -->
    <add key="FileWatcherIncludeSubdirectories" value="false"/>
    <add key="FileWatcherNotifyFilter" value="FN|DN|A|SZ|LW|LA|CT|S"/>
    <!-- Reference: http://msdn.microsoft.com/query/dev10.query?appId=Dev10IDEF1&l=EN-US&k=k(SYSTEM.IO.NOTIFYFILTERS);k(TargetFrameworkMoniker-%22.NETFRAMEWORK%2cVERSION%3dV4.0%22);k(DevLang-CSHARP)&rd=true -->
    <add key="FileWatcherAutoStart" value="true"/>
    <add key="UseTimer" value="true"/>
    <add key="TimerIntervalSpan" value="s"/>
    <!-- valid values: D or d=days, H or h=hours, M or m=minutes, S or s=Seconds (Default is S)-->
    <add key="TimerInterval" value="60"/>
    <add key="TimerAutoStart" value="false"/>
    <add key="LogFileName" value="SelfInstallingWindowsService.log"/>
    <add key="EnableInfoLogging" value="true"/>
    <add key="EnableDebugLogging" value="true"/>
    <add key="WcfPort" value="8001"/>
    <add key="WcfMexPort" value="8002"/>
    <add key="IsHub" value="false"/>
    <add key="UseWcf" value="false"/>
    <!-- These are blank by default so that the admin application can write to them -->
    <add key="ServiceStatusDatabasePath" value=""/>
    <add key="ServiceId" value=""/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>